   <div class="row">
       <div class="col-md-12">
           <form class="well">
               <div class="form-group">
                   <input class="form-control" type="text" Placeholder="Type Github Username and press Enter Key.." [(ngModel)]="username" name="username" (keyup)="searchUser($event)" />
               </div>
           </form>
       </div>
   </div>

    <div *ngIf="user">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src="{{user.avatar_url}}"/>
                        <br/>
                        <a href="{{user.html_url}}" class="btn btn-default btn-block" target="_blank"> View Profile </a>
                    </div>
                    <div class="col-sm-8">
                        <div class="stats">
                            <span class="label label-default">{{user.public_repos}} Public Repos</span>
                            <span class="label label-primary">{{user.public_gists}} Public Gists</span>
                            <span class="label label-success">{{user.followers}} Followers</span>
                            <span class="label label-info">{{user.following}} Following</span>
                        </div>
                        <br/>
                        <ul class="list-group">
                            <li class="list-group-item"> <strong>Username</strong> {{user.login}} </li>
                            <li class="list-group-item"> <strong>Location</strong> {{user.location}} </li>
                            <li class="list-group-item"> <strong>Email</strong> {{user.email}} </li>
                            <li class="list-group-item"> <strong>Blog</strong> {{user.blog}} </li>
                            <li class="list-group-item"> <strong>Member since</strong> {{user.created_at}} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Repos</h3>
            </div>
            <div class="panel-body">
               <div *ngFor="let repo of repos">
                   <div class="row">
                       <div class="col-md-9">
                           <h4> <a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a> </h4>
                           <p> {{repo.description}} </p>
                       </div>
                       <div class="col-md-3">
                           <span class="label label-default">{{repo.watchers}} Watchers</span>
                           <span class="label label-primary">{{repo.forks }} Forks</span>
                       </div>
                   </div>
                   <hr/>

               </div>
            </div>
        </div>


    </div>

